.main.products-main {
  background: #f3f5f6;
  min-height: calc(100vh - 16rem);
  justify-content: flex-start; }

@media (max-width: 999px) {
  .page-path-header {
    margin: 0; } }

@media (min-width: 1000px) {
  .layout.products-layout {
    display: flex; } }
@media (max-width: 999px) {
  .layout.products-layout .collection-menu-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    margin: 0;
    top: 0;
    z-index: 4;
    background: transparent;
    transition: transform .2s ease-in-out,background .6s ease-in-out;
    transform: translateX(100%); }
    .layout.products-layout .collection-menu-container[aria-hidden=false] {
      transform: translateX(0);
      background: rgba(0, 0, 0, 0.5); } }
.layout.products-layout .hidden-pocket {
  flex: none;
  background: white;
  position: absolute;
  height: 100vh;
  z-index: 4;
  top: 0;
  right: 0;
  overflow: hidden;
  overflow-y: visible; }
  @media (min-width: 500px) {
    .layout.products-layout .hidden-pocket {
      width: 20rem; } }
  @media (min-width: 1000px) and (max-width: 1200px) {
    .layout.products-layout .hidden-pocket {
      width: 15rem; } }
  @media (min-width: 1000px) {
    .layout.products-layout .hidden-pocket {
      border: 1px solid #e7ebee;
      border-radius: .1rem;
      position: static;
      display: block;
      height: unset; } }
  .layout.products-layout .hidden-pocket .card {
    position: relative; }
    .layout.products-layout .hidden-pocket .card header {
      justify-content: flex-start; }
      .layout.products-layout .hidden-pocket .card header .icon {
        height: 1.4rem;
        width: 1.4rem;
        color: #1e2d7d; }
      @media (min-width: 1000px) {
        .layout.products-layout .hidden-pocket .card header {
          display: none; } }
    .layout.products-layout .hidden-pocket .card p {
      margin: 0; }
      @media (max-width: 999px) {
        .layout.products-layout .hidden-pocket .card p {
          color: gray;
          border: 1px solid #cccfd2;
          border-left: none;
          border-right: none;
          background: #e7ebee; } }
    @media (max-width: 999px) {
      .layout.products-layout .hidden-pocket .card p.title-secondary {
        margin: 0; } }
    .layout.products-layout .hidden-pocket .card ul {
      list-style-type: none; }
      @media (max-width: 999px) {
        .layout.products-layout .hidden-pocket .card ul.collections-container {
          height: 0;
          visibility: hidden;
          transition: .2s ease-out; }
          .layout.products-layout .hidden-pocket .card ul.collections-container button {
            visibility: hidden;
            transition: none; }
          .layout.products-layout .hidden-pocket .card ul.collections-container[aria-hidden=false] {
            visibility: visible;
            height: auto;
            padding-bottom: 1rem; }
            .layout.products-layout .hidden-pocket .card ul.collections-container[aria-hidden=false] button {
              visibility: visible;
              margin-top: .3rem;
              margin-bottom: 0.3rem; }
            .layout.products-layout .hidden-pocket .card ul.collections-container[aria-hidden=false] .collection-filter-linklist li {
              display: block; }
          .layout.products-layout .hidden-pocket .card ul.collections-container .collection-filter-linklist {
            padding-top: .5rem; }
            .layout.products-layout .hidden-pocket .card ul.collections-container .collection-filter-linklist li {
              display: none;
              padding-top: .25rem;
              color: gray;
              padding-bottom: .25rem;
              font-size: .8rem; } }
    .layout.products-layout .hidden-pocket .card hr {
      height: 0;
      border: 0.4px solid #e7ebee; }
      @media (max-width: 999px) {
        .layout.products-layout .hidden-pocket .card hr {
          display: none; } }
    @media (max-width: 999px) {
      .layout.products-layout .hidden-pocket .card .card-section {
        margin: 0; } }
    .layout.products-layout .hidden-pocket .card button {
      display: block;
      width: 100%;
      text-align: left;
      background: transparent;
      color: gray;
      transition: color .2s ease-in-out;
      font-size: 1.1rem; }
      .layout.products-layout .hidden-pocket .card button .icon {
        margin-left: .2rem;
        width: 12px;
        height: 8px;
        transition: transform .25s ease-in-out; }
      .layout.products-layout .hidden-pocket .card button.is-active {
        color: #30c5e0; }
        .layout.products-layout .hidden-pocket .card button.is-active svg {
          transform: rotateZ(180deg); }
      .layout.products-layout .hidden-pocket .card button.collection-filter-group-name {
        color: #1e2d7d;
        font-weight: 600; }
        @media (max-width: 999px) {
          .layout.products-layout .hidden-pocket .card button.collection-filter-group-name {
            margin: 0; } }
    .layout.products-layout .hidden-pocket .card button.accordian {
      color: #1e2d7d;
      font-weight: 600; }
      @media (min-width: 1000px) {
        .layout.products-layout .hidden-pocket .card button.accordian {
          display: none; } }
    .layout.products-layout .hidden-pocket .card .collection-filter-collapsible {
      height: 0;
      overflow: hidden;
      visibility: hidden;
      transition: .2s ease-in-out; }
      .layout.products-layout .hidden-pocket .card .collection-filter-collapsible[aria-hidden=false] {
        visibility: visible; }
      .layout.products-layout .hidden-pocket .card .collection-filter-collapsible ul a {
        color: gray;
        width: 100%;
        display: block; }
      @media (max-width: 999px) {
        .layout.products-layout .hidden-pocket .card .collection-filter-collapsible .collection-filter-checkbox-list {
          margin-top: 1rem; } }
      .layout.products-layout .hidden-pocket .card .collection-filter-collapsible .collection-filter-checkbox {
        display: flex;
        align-items: center; }
        @media (max-width: 999px) {
          .layout.products-layout .hidden-pocket .card .collection-filter-collapsible .collection-filter-checkbox {
            padding-top: .1rem;
            color: gray;
            padding-bottom: .1rem;
            font-size: .9rem; } }
        .layout.products-layout .hidden-pocket .card .collection-filter-collapsible .collection-filter-checkbox label {
          margin-top: .09rem; }
        .layout.products-layout .hidden-pocket .card .collection-filter-collapsible .collection-filter-checkbox .checkbox-wrapper {
          position: relative;
          display: inline-block;
          vertical-align: middle; }
          .layout.products-layout .hidden-pocket .card .collection-filter-collapsible .collection-filter-checkbox .checkbox-wrapper .checkbox {
            cursor: pointer;
            display: block;
            width: 16px;
            height: 16px;
            border: 1px solid #e7ebee;
            border-radius: 2px;
            transition: border-color 0.2s ease-in-out, box-shadow .2s ease-in-out, background 0.2s ease-in-out; }
            .layout.products-layout .hidden-pocket .card .collection-filter-collapsible .collection-filter-checkbox .checkbox-wrapper .checkbox:checked {
              background: #30c5e0;
              border-color: #30c5e0;
              box-shadow: none; }
          .layout.products-layout .hidden-pocket .card .collection-filter-collapsible .collection-filter-checkbox .checkbox-wrapper .icon {
            position: absolute;
            width: 12px;
            height: 12px;
            left: 2px;
            top: calc(50% - 6px);
            transform: scale(0);
            transition: transform .2s ease-in-out;
            color: white; }
          .layout.products-layout .hidden-pocket .card .collection-filter-collapsible .collection-filter-checkbox .checkbox-wrapper .checkbox:checked + .icon {
            transform: scale(1); }
    .layout.products-layout .hidden-pocket .card .collection-filter-group-list--ordered {
      display: flex;
      flex-direction: column; }
    @media (max-width: 999px) {
      .layout.products-layout .hidden-pocket .card .collection-filter-group {
        border-bottom: 1px solid #cccfd2; } }
    @media (min-width: 1000px) {
      .layout.products-layout .hidden-pocket .card .collection-filter-group {
        padding-top: 0;
        padding-bottom: 0; } }
    .layout.products-layout .hidden-pocket .card .collection-filter-group-name {
      display: flex;
      width: 100%;
      align-items: center;
      text-align: left; }
      @media (min-width: 1000px) {
        .layout.products-layout .hidden-pocket .card .collection-filter-group-name {
          justify-content: flex-start; } }
.layout.products-layout .layout-section-primary {
  flex-grow: 1;
  background: white;
  flex-shrink: 0;
  flex-basis: 0;
  border: 1px solid #e7ebee;
  overflow-x: hidden;
  border-radius: .2rem;
  margin-bottom: 2rem; }
  @media (max-width: 999px) {
    .layout.products-layout .layout-section-primary {
      margin-right: 0; } }
  .layout.products-layout .layout-section-primary .denoter-img {
    height: 10rem;
    overflow: hidden;
    border-radius: .2rem; }
    @media (min-width: 700px) {
      .layout.products-layout .layout-section-primary .denoter-img {
        height: 12rem; } }
    @media (min-width: 1000px) {
      .layout.products-layout .layout-section-primary .denoter-img {
        height: 16rem; } }
    .layout.products-layout .layout-section-primary .denoter-img img {
      height: 23rem; }
    @media (max-width: 500px) {
      .layout.products-layout .layout-section-primary .denoter-img img {
        width: 200%;
        position: relative;
        right: 100%; } }
  .layout.products-layout .layout-section-primary .secondary-menu-container {
    border: 1px solid #e7ebee;
    border-left: none;
    border-right: none; }
    @media (min-width: 1000px) {
      .layout.products-layout .layout-section-primary .secondary-menu-container {
        justify-content: flex-end; } }
    @media (min-width: 1000px) {
      .layout.products-layout .layout-section-primary .secondary-menu-container .filter {
        display: none; } }
    .layout.products-layout .layout-section-primary .secondary-menu-container .icon {
      height: 1.2rem;
      width: 1.2rem; }
    .layout.products-layout .layout-section-primary .secondary-menu-container .sort-by .icon {
      height: 1rem;
      width: .8rem; }
  .layout.products-layout .layout-section-primary .product-collection {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    overflow: hidden; }
    @media (min-width: 700px) {
      .layout.products-layout .layout-section-primary .product-collection {
        grid-template-columns: 1fr 1fr 1fr; } }
    @media (min-width: 1000px) {
      .layout.products-layout .layout-section-primary .product-collection {
        grid-template-columns: 1fr 1fr 1fr 1fr; } }
    .layout.products-layout .layout-section-primary .product-collection .product-card {
      border: 0.5px solid #e7ebee; }
      .layout.products-layout .layout-section-primary .product-collection .product-card .img-container {
        background: #eaeaec -webkit-gradient(linear, left top, right top, color-stop(0, #eaeaec), color-stop(35%, #e6e4e4), color-stop(70%, #eaeaec), to(#eaeaec)) no-repeat;
        animation: mini-image-loading-skeleton 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite forwards;
        height: 65vw; }
        @media (min-width: 700px) {
          .layout.products-layout .layout-section-primary .product-collection .product-card .img-container {
            height: 42.9vw; } }
        @media (min-width: 1000px) {
          .layout.products-layout .layout-section-primary .product-collection .product-card .img-container {
            height: calc((100vw - 340px)*.25*1.3); } }
        @media (min-width: 1500px) {
          .layout.products-layout .layout-section-primary .product-collection .product-card .img-container {
            height: calc((1500px - 340px)*.25*1.2); } }
      .layout.products-layout .layout-section-primary .product-collection .product-card .data-container {
        align-items: flex-start;
        min-height: 4rem;
        position: relative;
        height: 69.125px; }
        @media (min-width: 700px) {
          .layout.products-layout .layout-section-primary .product-collection .product-card .data-container {
            height: 83.781px; } }
        @media (min-width: 1000px) {
          .layout.products-layout .layout-section-primary .product-collection .product-card .data-container {
            height: 93.344px; } }
        .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .button-container {
          width: 100%;
          transform: translateY(0);
          background: white;
          position: absolute;
          align-items: center;
          visibility: hidden;
          opacity: 10;
          transition: transform .2s, visibility .1s, opacity .1s; }
          .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .button-container[aria-hidden=false] {
            transform: translateY(-92px);
            opacity: 1;
            visibility: visible; }
            @media (min-width: 700px) {
              .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .button-container[aria-hidden=false] {
                transform: translateY(-105px); } }
            @media (min-width: 1000px) {
              .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .button-container[aria-hidden=false] {
                transform: translateY(-117px); } }
          .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .button-container button {
            width: calc(100% - 1rem); }
            @media (min-width: 700px) {
              .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .button-container button {
                width: calc(100% - 1.2rem); } }
            @media (min-width: 1000px) {
              .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .button-container button {
                width: calc(100% - 1.4rem); } }
        .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .loader-container {
          background: rgba(0, 0, 0, 0.1); }
          .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .loader-container .loader {
            width: 1rem;
            height: 1rem;
            border-top: 0.2rem solid gray; }
        @media (min-width: 1000px) and (max-width: 1600px) {
          .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .brand-name {
            font-size: 1.1rem; }
          .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .name {
            font-size: 1rem; }
          .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .price {
            font-size: 1.1rem; } }
        @media (min-width: 1601px) {
          .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .brand-name {
            font-size: 1.2rem; }
          .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .name {
            font-size: 1.1rem; }
          .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .price {
            font-size: 1.2rem; } }
        .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .name, .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .brand-name {
          white-space: nowrap;
          overflow: hidden;
          width: 45vw;
          text-overflow: ellipsis; }
          @media (min-width: 700px) {
            .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .name, .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .brand-name {
              width: 30vw; } }
          @media (min-width: 1000px) {
            .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .name, .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .brand-name {
              width: calc((100vw - 322px)*.2); } }
          @media (min-width: 1500px) {
            .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .name, .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .brand-name {
              width: calc((1500px - 322px)*.2); } }
        .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .brand-name, .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .price {
          color: black; }
        .layout.products-layout .layout-section-primary .product-collection .product-card .data-container .name {
          color: gray;
          font-weight: 400; }

/*# sourceMappingURL=products.css.map */
