//color theming
$blue: rgb(30, 45, 125);
$lightBlue : rgb(29, 177, 211);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$lightBlack: rgb(45, 45, 45);
$grey: rgb(204, 207, 210);
$lightGrey: rgb(231, 235, 238);
$offWhite: rgb(243, 245, 246);
$darkGrey: rgb(128, 128, 128);
$green: rgb(0, 138, 0);
$red: rgb(238, 0, 0);


main.buy-product-main {
    .main-inner {
        .main-content {
            grid-template-columns: 1.5fr 1fr;
            grid-column-gap: 1rem;

            @media (max-width:699px) {
                grid-template-columns: 1fr;
                margin-top:-.1rem;
            }

            .img-container-main {
                grid-template-columns: 1fr 1fr;
                grid-column-gap: .5rem;
                grid-row-gap: .5rem;
                @media (max-width:699px){
                    grid-template-columns: auto;
                    margin-left:0;
                }
                .img-container {
                    width: 100%;
                    cursor: pointer;
                    background:#eaeaec -webkit-gradient(linear,left top,right top,color-stop(0,#eaeaec),color-stop(35%,#e6e4e4),color-stop(70%,#eaeaec),to(#eaeaec)) no-repeat;
                    animation: mini-image-loading-skeleton 2s cubic-bezier(.25,.46,.45,.94) infinite forwards;
                    height:100vw*1.334;
                    @media (min-width:700px) and (max-width:799px){
                        height:calc((100vw - 2rem)*0.376);//to maintain aspect ratio
                    }
                    @media (min-width:800px) and (max-width:899px){
                        height:calc((100vw - 2rem)*0.39);//to maitain aspect ratio
                    }
                    @media (min-width:900px) and (max-width:999px){
                        height:calc((100vw - 2rem)*0.39);//to maitain aspect ratio
                    }
                    @media(min-width:1000px) {
                        height: 26vw*1.5;
                    }

                    @media (min-width:1600px) {
                        height: 36.76rem;
                    }

                    overflow: hidden;

                    img {
                        width: 100%;

                        @media (min-width:1000px) {
                            height: 26vw*1.5;
                        }

                        @media (min-width:1600px) {
                            height: 36.76rem;
                        }

                        transform: scale(1);
                        transition: transform 300ms ease-in-out;

                        &:hover {
                            transform: scale(1.5);
                            transition: transform 700ms ease-in-out;
                        }
                    }
                }
            }

            .content {
                .loading{
                    background:#eaeaec -webkit-gradient(linear,left top,right top,color-stop(0,#eaeaec),color-stop(35%,#e6e4e4),color-stop(70%,#eaeaec),to(#eaeaec)) no-repeat;
                    animation: mini-image-loading-skeleton 2s cubic-bezier(.25,.46,.45,.94) infinite forwards;
                }
                .loading-content{
                    width:8rem;
                    max-width:100%;
                    height:1.3rem;
                }
                .loading-size{
                    width:13rem;
                    max-width:100%;
                    height:1.6rem;                    
                }
                .qty-container {
                    select{
                        min-width:3rem;
                        background:rgb(173, 216, 230);
                        cursor: pointer;
                    }
                  }
                .available-sizes {
                    justify-content: flex-start;

                    div {
                        cursor: pointer;
                        border: 1px solid $grey;
                        border-radius: 100%;
                        height: 3rem;
                        width: 3rem;
                        position: relative;
                        &:first-child {
                            margin-left: 0;
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                        &.fade{
                            color:$grey;
                            cursor:not-allowed;
                        }
                        span.stocks{
                            position: absolute;
                            bottom:-1rem;
                            font-size:.8rem;
                        }
                    }
                    div.selected{
                        border:2px solid $green;
                        color:$green;
                        font-weight: bold;
                    }
                }

                .button-container {
                    justify-content: flex-start;

                    @media (max-width:900px) {
                        flex-direction: column;

                        button {
                            margin-left: 0;
                            margin-right: 0;
                        }
                    }

                    button {
                        width: 100%;
                        position:relative;
                        @media (min-width:1000px) {
                            width: 10rem;
                        }
                        span.tooltip-text{
                            display:none;
                        }
                        &.tooltip{
                            cursor: not-allowed;
                            span.tooltip-text{
                                visibility:hidden;
                                position:absolute;
                                top:100%;
                                margin-top:.5rem;
                                left:0;
                                border-radius: .2rem;
                                background:$red;
                                color:$offWhite;   
                                display:none;
                                width:11rem;
                                padding:.4rem .2rem;
                                z-index: 1;
                            }
                            .tooltip-text::after {
                                content: "";
                                position: absolute;
                                top: -.8rem;
                                right: 50%;
                                border-width: .4rem;
                                border-style: solid;
                                border-color: transparent transparent $red transparent;
                              }
                            &:hover{
                                span.tooltip-text{
                                    visibility: visible;
                                    display: block;
                                }
                            }
                        }
                    }
                }

                .delivery-options {
                    .drop-down {
                        width: 10rem;
                        height: 1.8rem;
                        font-size: 1rem;
                        padding-left: .5rem;
                        position: relative;
                        background: rgba(29, 177, 211, .3);
                        display: flex;
                        align-items: center;
                        border-radius: .2rem;
                        cursor: pointer;
                        .items-container{
                            position:absolute;
                            top:1.8rem;
                            left:0rem;
                            width:calc(100% - 2px - .2rem);
                            div.item{
                                border:1px solid $grey;
                                background: rgb(205, 233, 240);
                                padding:.4rem .1rem;
                            }
                        }
                        div.item {
                            display: none;
                            p {
                                width: calc(100% - 1.5rem);
                                display:block;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }

                        div.item.selected {
                            display: block;
                        }
                        .fa-caret-down {
                            position: absolute;
                            right: .5rem;
                        }
                    }
                    .drop-down.open{
                        .items-container{
                            div{
                                display:block;
                            }
                        }
                    }
                }

                ul {
                    list-style-type: none;
                }
            }
        }
    }
}